<footer>
    <div class="footer-wrap">
        <div class="footer-company">
            <h1>
                <img src="/assets/general/Aerolab-Logo.png" alt="株式会社エアロラボインターナショナル">
            </h1>
            <p>
                <span>〒581-0043　大阪府八尾市空港2-12</span>
                <br>
                <span>Tel：072-990-1232</span>
                <br>
                <span>Fax：072-990-1338</span>
            </p>
        </div>
        <nav class="footer-menu">
            <ul>
                <li>
                    <dl>
                        <dt>
                            Services
                        </dt>
                        <dd>
                            <a href="/sales/">
                                航空機販売
                            </a>
                        </dd>
                        <dd>
                            <a href="/maintenance/">
                                航空機整備
                            </a>
                        </dd>
                        <dd>
                            <a href="/transport/">
                                輸送・サルベージ
                            </a>
                        </dd>
                        <dd>
                            <a href="/remodel/">
                                改造・内装
                            </a>
                        </dd>
                        <dd>
                            <a href="/paint/">
                                塗装
                            </a>
                        </dd>
                        <dd>
                            <a href="/other/">
                                その他
                            </a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            Company
                        </dt>
                        <dd>
                            <a href="/company/">
                                会社概要
                            </a>
                        </dd>
                        <dd>
                            <a href="/achievements/">
                                業務実績
                            </a>
                        </dd>
                        <dd>
                            <a href="/investment/">
                                IR情報
                            </a>
                        </dd>
                        <dd>
                            <a href="/recruitment/">
                                採用情報
                            </a>
                        </dd>
                        <dd>
                            <a href="/securitypolicy/">
                                情報セキュリティ基本方針
                            </a>
                        </dd>
                        <dd>
                            <a href="/contact/">
                                お問い合わせ
                            </a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            Aerolab Group
                        </dt>
                        <dd>
                            <a href="https://aerolab.kr" target="_blank" rel="noopener noreferrer">
                                エアロラボコリア
                            </a>
                        </dd>
                        <dd>
                            <a href="https://al-pilotshop.square.site/" target="_blank" rel="noopener noreferrer">
                                パイロットショップ
                            </a>
                        </dd>
                        <dd>
                            <a href="/aircraftspecs/">
                                航空スペック
                            </a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </nav>
    </div>
    <p class="footer-copyright">
        © 2026 aerolab international
    </p>
</footer>
